<div class="O_Collection">
  <div class="M_CollectionImages">
    <% collection_posts = collection.posts.limit(4) %>
    <% if collection_posts.size >= 2 %>
      <% collection_posts.each do |post| %>
        <div><%= image_tag post.post_image.url %></div>
      <% end %>
    <% end %>
  </div>
  <%= link_to collection_path(collection), id: dom_id(collection) do %>
    <h3><%= collection.title %></h3>
  <% end %>
  <div class="M_CollectionDescription">
    <% user_email = collection.posts.first&.user&.profile.name %>
    <% if user_email %>
      <p class="A_CreatedBy">Создано: <%= user_email %></p>
    <% end %>
    <p class="A_ThingsCount">Вещиц внутри: <%= collection.posts.count %></p>
  </div>
  <%# Category %>
  <div class="A_Category" style="margin-top: 1rem;">
    <% collection.categories.each do |category| %>
      <%= link_to category, tagged_collections_path(category), class: "A_Tag" %>
    <% end %>
  </div>
  <!-- Tags -->
  <div class="C_Tags">
    <% collection.tags.each do |tag| %>
      <%= link_to tag.name, tagged_collections_path(tag.name), class: "A_Tag" %>
    <% end %>
  </div>
</div>