<div class="O_Collection">
  <div class="M_CollectionImages">
    <% collection_posts = collection.posts.limit(4) %>
    <% if collection_posts.size >= 2 %>
      <% collection_posts.each do |post| %>
        <div><%= image_tag post.post_image.url %></div>
      <% end %>
    <% end %>
  </div>
  <!-- Tags -->
  <div class="C_Tags">
    <% collection.tags.each do |tag| %>
      <%= link_to tag.name, tagged_collections_path(tag.name), class: "A_Tag" %>
    <% end %>
  </div>
  <div class="M_CollectionDescription">
    <div class="M_SubText">
      <%= link_to collection_path(collection), id: dom_id(collection),style:"text-decoration:none" do %>
        <h4 class="subtitle"><%= collection.title %></h4>
      <% end %>
      <% user_email = collection.posts.first&.user&.profile.name %>
      <% if user_email %>
        <p class="A_CreatedBy"><%= user_email %></p>
      <% end %>
    </div>
    <p class="A_ThingsCount">Коллекция: <br>
      <%= collection.posts.count %> работы.</p>
  </div>
</div>