<% amount = collection.posts.count %>
<%= link_to collection_path(collection), id: dom_id(collection),style:"text-decoration:none", class: "O_Collection", data: { turbo_frame: "_top" } do %>
  <div class="W_CollectionIndexAbout">
    <div class="M_CollectionDescription">
      <div class="M_CollectionIndexDesc">
        <p class="A_CreatedBy"><%= collection.user.profile.name %></p>
        <h3 class="collection-title"><%= collection.title + " [#{amount}]" %></h3>
      </div>
      <div class="C_Tags">
        <%# Materials %>
        <% collection.material_list.take(1).each do |tag| %>
          <span class="A_Tag" data-tag-context="materials"><%= tag %></span>
        <% end %>
        <%# Themes %>
        <% collection.theme_list.take(1).each do |tag| %>
          <span class="A_Tag" data-tag-context="themes"><%= tag %></span>
        <% end %>
        <%# Genres %>
        <% collection.genre_list.take(1).each do |tag| %>
          <span class="A_Tag" data-tag-context="genres"><%= tag %></span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="W_CollectionGridAbout">
    <div class="M_CollectionImages">
      <% collection_posts = collection.posts.limit(5) %>
      <% if collection_posts.size >= 3 %>
        <% collection_posts.each do |post| %>
          <div class="aspect-<%= post.aspect_ratio.gsub(':', '-') %>"><%= image_tag post.post_image.url %></div>
        <% end %>
      <% end %>
    </div>
    <div class="M_CollectionIndexData">
    </div>
  </div>
  <!-- Tags -->
<% end %>