<%= form_with(model: @collection, html: { class: "collection-form" }) do |f| %>
  <% if @collection.errors.any? %>
    <div class="form-errors" style="color: red">
      <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>
      <ul>
        <% @collection.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="M_FormLabel">
    <%= f.label :title, "Название", class: "title-label", style: "display: block" %>
    <%= f.text_field :title, class: "A_Form" %>
  </div>
  <div class="M_FormLabel">
    <%= f.label :body, "Описание", class: "body-label", style: "display: block" %>
    <%= f.text_area :body, class: "A_Form" %>
  </div>
  <%# Теги %>
  <%= f.collection_check_boxes(:tag_list, valid_tags, :to_s, :to_s) do |b| %>
    <div class="">
      <label class="form-check-label">
        <%= b.check_box class: 'form-check-input' %>
        <%= b.text %>
      </label>
    </div>
  <% end %>
  <%= render "work_selector" %>
  <%#-------------submit--------------%>
  <%= f.submit "Сохранить", class: "A_Button", style: "background-color: #faf3eb; margin-top: 2rem " %>
</div>
<% end %>