<%= form_with(model: [:admin, @collection], html: { class: "collection-form" }) do |f| %>
  <% if @collection.errors.any? %>
    <div class="form-errors" style="color: red">
      <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>
      <ul>
        <% @collection.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="A_Form">
    <%= f.label :title, "Название", class: "title-label", style: "display: block" %>
    <%= f.text_field :title, class: "title-input" %>
  </div>
  <div class="A_Form">
    <%= f.label :body, "Описание", class: "body-label", style: "display: block" %>
    <%= f.text_area :body, class: "body-textarea" %>
  </div>
  <%# Теги %>
  <%= f.collection_check_boxes(:tag_list, valid_tags, :to_s, :to_s) do |b| %>
    <div class="">
      <label class="form-check-label">
        <%= b.check_box class: 'form-check-input' %>
        <%= b.text %>
      </label>
    </div>
  <% end %>
  <div>
    <%= f.label :post_ids, "Ваши посты", class: "posts-label", style: "display: block" %>
    <% @posts = Post.all.order(:title) %>
    <%= f.collection_check_boxes :post_ids, @posts, :id, :title do |b| %>
      <div style="margin: .5rem 0;" class="M_CheckboxGroup">
        <%= b.check_box(class: "post-checkbox") %>
        <%= b.label(class: "post-label") %>
      </div>
    <% end %>
  </div>
  <div>
    <%= f.submit "Сохранить", class: "A_Button", style: "background-color: #faf3eb; margin-top: 2rem " %>
  </div>
<% end %>
