<%= form_with(model: @collection, html: { class: "O_CollectionForm" }) do |f| %>
  <% if @collection.errors.any? %>
    <div class="form-errors" style="color: red">
      <h4><%= pluralize(@collection.errors.count, "error") %> ошибка создания:</h4>
      <ul>
        <% @collection.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="W_Forms">
    <div class="M_FormLabel">
      <%= f.label :title, "Название", class: "title-label", style: "display: block" %>
      <%= f.text_field :title, class: "A_Form", placeholder: "Введите название коллекции" %>
    </div>
    <div class="M_FormLabel">
      <%= f.label :body, "Описание", class: "body-label", style: "display: block" %>
      <%= f.text_area :body, class: "A_Form", placeholder: "Введите описание" %>
    </div>
    <%= render "work_selector" %>
    <%#-------------submit--------------%>
  </div>
  <%= f.submit "Опубликовать", class: "A_Button" %>
<% end %>