<%
  set_meta_tags(
    title: "Коллекции художников",
    description: "Подборка уникальных работ художников",
    keywords: "Коллекции, серии, артовые работы"
  )
%>
<%# Body %>
<p style="color: green"><%= notice %></p>
<%# <div class="M_ArtWorksBanner"></div> %>
<div class="S_FiltersPosts">
  <div class="W_TypesOfContent">
    <%= link_to "Работы", posts_url, class: "A_TypeOfContent" %>
    <%= link_to "Коллекции",collections_path, class: "A_TypeOfContent" %>
  </div>
  <div class="O_Filter">
    <div class="W_CategoriesFilter">
      <p>Категории</p>
      <div class="C_Categoires">
        <%= link_to "все", collections_path, class:"A_Tag",id:"CategoryTag" %>
        <% Post.tag_counts_on(:categories).each do |tag| %>
          <%= link_to tag.name, tagged_collections_path(tag.name), class:"A_Tag",id:"CategoryTag" %>
        <% end %>
      </div>
    </div>
    <div class="W_TagsFilter">
      <p>Теги</p>
      <div class="C_Tags Navigation">
        <% Post.tag_counts_on(:tags).each do |tag| %>
          <%= link_to tag.name, tagged_collections_path(tag.name), class:"A_Tag" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="C_Collections">
  <% @collections.each do |collection| %>
    <%= render "collections/collection", collection: collection %>
  <% end %>
</div>
