<%
  set_meta_tags(
    title: "Коллекции художников",
    description: "Подборка уникальных работ художников",
    keywords: "Коллекции, серии, артовые работы"
  )
%>
<%# Body %>
<p style="color: green"><%= notice %></p>
<div class="O_PageCover">
  <%= link_to posts_path,class: "M_SectionSwitcher" do %>
    <%= image_tag 'icons/A_ArrowSwitcherLeft.svg' %>
    <h4>Работы</h4>
  <% end %>
  <div class="W_SectionInfoBackground">
    <div class="W_SectionInfo">
      <h1>Коллекции</h1>
      <h4>Тематические подборки,
        объединенные общей
        концепцией или стилем.</h4>
      <div class="A_RateCountCircle">
        <div class="M_InfoRow">
          <p class="footnote">Коллекций</p>
          <p class="footnote"><%= Collection.all.count %></p>
        </div>
      </div>
    </div>
  </div>
  <%= link_to profiles_path,class: "M_SectionSwitcher" do %>
    <h4>Художники</h4>
    <%= image_tag 'icons/A_ArrowSwitcherRight.svg' %>
  <% end %>
</div>
<%= turbo_frame_tag "posts_with_filters" do %>
  <div class="L_Collections">
    <div class="S_Filter">
      <div class="O_FilterTopBar">
        <div class="M_FilterChosen">
          <div class="A_FiltersDropdown" 
             data-controller="filter-dropdown" 
            data-action="click->filter-dropdown#toggle"
            data-filter-dropdown-target-id="filter-content"
            data-turbo-permanent>
            <h2>Фильтры</h2>
            <%= image_tag "icons/Q_IconArrowDown.svg", class: "icon-arrow" %>
          </div>
        </div>
        <%= render 'posts/sort_form' %>
      </div>
      <div id="filter-content" 
         class="O_FilterCategoryTags" 
         data-expanded="<%= params[:filter_expanded].present? %>">
        <%= render 'tags/tags_filter' %>
      </div>
    </div>
  <% end %>
  <div class="C_Collections">
    <% @collections.each do |collection| %>
      <%= render "collections/collection", collection: collection %>
    <% end %>
  </div>
</div>