<%
  set_meta_tags(
    title: @collection.title,
    description: @collection.body,
    # keywords: @collection.tag_list
  )
%>
<p style="color: green"><%= notice %></p>
<div class="L_CollectionShow">
  <div class="W_CollectionShowHead">
    <div class="O_PostActionMenu">
      <nav class="A_NavigationPost" aria-label="breadcrumb">
        <ol class="С_Breadcrumbs">
          <li><%= link_to "Главная", root_path %></li>
          <li><%= link_to "Коллекции", collections_path %></li>
          <li class="active" aria-current="page"><%= @collection.title %></li>
        </ol>
      </nav>
      <div class="M_LikeFavourite">
        <%= render partial: "likes/button", locals: {likable: @collection} %>
        <%= render "favourites/favourite_button", favouriteable: @collection %>
      </div>
      <div class="M_Options">
        <% if can?(:update, @collection) || can?(:destroy, @collection) || current_user&.admin? %>
          <div class="M_DotsDropdown" 
          data-controller="dropdown" 
          data-action="click->dropdown#toggle">
            <div class="right" data-dropdown-target="content">
              <% if can?(:update, @collection) %>
                <%= link_to 'Редактировать', edit_collection_path(@collection), class: 'A_DropdownItem' %>
              <% end %>
              <% if can?(:destroy, @collection) %>
                <%= button_to 'Удалить', @collection, method: :delete, class: 'A_DropdownItem Danger' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%#---------------------------------------------%>
    <div class="W_СollectionInfoNavigation">
      <div class="W_WorksAmount">
        <div class="M_InfoRow">
          <p class="footnote">Работ:</p>
          <p><%= @collection.posts.count %></p>
        </div>
      </div>
      <div class="O_CollectionInfo">
        <div class="M_TitleCreatorName">
          <div class="A_CreatorPost">
            <%= link_to profile_path(@collection.user.profile),class: "A_CreatorPost" do %>
              <%= image_tag(@collection.user.profile.avatar_url, class: "Q_ProfileImage") %>
              <p><%= @collection.user.profile.name %></p>
            <% end%>
          </div>
          <h1><%= @collection.title %></h1>
        </div>
        <%# -----------------tags here -----------%>
        <%= render 'tags/tag_collection' %>
        <h4><%= @collection.body %></h4>
        <p class="footnote">Опубликовано: <%= @collection.created_at.strftime("%d.%m.%Y") %></p>
      </div>
      <div class="empty" style="flex: 1;"></div>
    </div>
  </div>
  <div class="C_CollectionObjects">
    <% @collection.posts.each do |post| %>
      <div class="O_CollectionObject">
        <div class="M_InfoRow">
          <p><%= post.category_list.map(&:capitalize).join(', ') %></p>
          <p><%= post.year %></p>
        </div>
        <div class="W_CollectionPart">
          <div class="M_ImagePostDate">
            <div class="A_ImageContainer aspect-<%= post.aspect_ratio.gsub(':', '-') %>">
              <%= image_tag post.post_image.url, class: "Q_ShowPostImage"  %>
            </div>
            <p class="footnote">Дата добавления: <%=post.created_at.strftime("%d.%m.%Y") %></p>
          </div>
          <div class="W_ObjectLook">
            <div class="M_ObjectInfo">
              <h4 class="subtitle"><%= post.title %></h4>
              <p><%= post.body %></p>
            </div>
            <%= link_to post_path(post), class: "Q_PostImageLink" do %>
              <p>Посмотреть работу</p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>