<%
  set_meta_tags(
    title: @collection.title,
    description: @collection.body,
    keywords: @collection.tag_list
  )
%>
<p style="color: green"><%= notice %></p>
<div class="S_CollectionHead">
  <div class="M_HeadLinks">
    <%= link_to "<- Назад", request.referer %>
    <div class="M_ActionButton">
      <% if can?(:manage, @collection) %>
        <%= link_to 'Изменить', edit_collection_path(@collection), class: 'A_Edit' %>
        <%= button_to "⌦Удалить коллекцию", collection_path(@collection), method: :delete %>
      <% else %>
        <p>Авторизируйтесь</p>
      <% end %>
    </div>
  </div>
  <div class="O_CollectionBio">
    <div class="Q_SharpPoint Q_SharpBodyColor"></div>
    <div class="Q_SharpPoint Q_SharpBodyColor"></div>
    <div class="Q_SharpPoint Q_SharpBodyColor"></div>
    <div class="Q_SharpPoint Q_SharpBodyColor"></div>
    <div class="W_CollectionHead">
      <div class="M_SubText">
        <h1 class="A_CollectionHeading"><%= @collection.title %></h1>
        <div class="C_Tags">
          <% @collection.tags.each do |tag| %>
            <%= link_to tag.name, tagged_collections_path(tag.name), class: "A_Tag" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="W_CollectionBotom">
      <div class="M_SubText">
        <%= link_to profile_path(@collection.user.profile),class: "A_AuthorProfile" do %>
          <p><%= @collection.user.profile.name %></p>
        <% end %>
        <p>Опубликовано: <%= @collection.created_at.strftime("%d.%m.%Y") %></p>
      </div>
      <p class="A_ObjectsInside">Коллекция: <br>
        <%= @collection.posts.count %> работ</p>
    </div>
  </div>
</div>
<div class="M_CollectionDescriptionShow">
  <div class="M_SubText">
    <p>Описание</p>
    <p><%= @collection.body %></p>
  </div>
</div>
<div class="C_AllPosts">
  <% @collection.posts.each do |post| %>
    <div class="O_Post"><%= render 'posts/post', post: post %></div>
  <% end %>
</div>
