<div class="O_MainNewPost">
  <div class="W_NewWorkInfo">
    <small>
      <p class="caption-2"><%= post.category_list %></p>
    </small>
    <h4 class="subtitle"><%= post.title %></h4>
    <p class="footnote"><%= post.user.profile.name %></p>
  </div>
  <%= link_to post_path(post), class: "Q_PostGridImage" do %>
    <%= image_tag post.post_image.url, class: "Q_PostImage" %>
  <% end %>
</div>