<%# FirstScreenCover %>
<div class="L_Home">
  <%# -------------------first------------------- %>
  <div class="M_MainAnnounce">
    <div class="W_AnnounceText">
      <p>Загружайте работы, создавайте коллекции через приложение.</p>
      <h1>Поделитесь своим искусством.<br>
        вам есть, что показать!</h1>
      <div class="Q_QrCode">
        <%= image_tag 'etc/M_QRAppStore.png' %>
      </div>
    </div>
  </div>
  <%# ----------------second----------------- %>
  <div class="M_Ticker" data-controller="marquee">
    <div class="A_TickerContent">
      <div class="A_TickerItem">
        <%= image_tag 'icons/ticker_item.svg' %>
        <p class="Caption">Скульптура</p>
      </div>
      <div class="A_TickerItem">
        <%= image_tag 'icons/ticker_item.svg' %>
        <p class="Caption">Картина</p>
      </div>
      <div class="A_TickerItem">
        <%= image_tag 'icons/ticker_item.svg' %>
        <p class="Caption">Ювилирка</p>
      </div>
      <div class="A_TickerItem">
        <%= image_tag 'icons/ticker_item.svg' %>
        <p class="Caption">Диджитал-арт</p>
      </div>
      <div class="A_TickerItem">
        <%= image_tag 'icons/ticker_item.svg' %>
        <p class="Caption">Текстиль</p>
      </div>
      <div class="A_TickerItem">
        <%= image_tag 'icons/ticker_item.svg' %>
        <p class="Caption">Текстиль</p>
      </div>
      <div class="A_TickerItem">
        <%= image_tag 'icons/ticker_item.svg' %>
        <p class="Caption">Скульптура</p>
      </div>
      <div class="A_TickerItem">
        <%= image_tag 'icons/ticker_item.svg' %>
        <p class="Caption">Картина</p>
      </div>
      <div class="A_TickerItem">
        <%= image_tag 'icons/ticker_item.svg' %>
        <p class="Caption">Ювилирка</p>
      </div>
      <div class="A_TickerItem">
        <%= image_tag 'icons/ticker_item.svg' %>
        <p class="Caption">Диджитал-арт</p>
      </div>
      <div class="A_TickerItem">
        <%= image_tag 'icons/ticker_item.svg' %>
        <p class="Caption">Текстиль</p>
      </div>
      <div class="A_TickerItem">
        <%= image_tag 'icons/ticker_item.svg' %>
        <p class="Caption">Текстиль</p>
      </div>
    </div>
  </div>
  <%# ----------------third----------------- %>
  <div class="S_MainWeekWorks">
    <div class="W_WeekAboutTop">
      <div class="W_WeekAboutLeft">
        <div class="O_WeekWorksInfo">
          <div class="M_HeadingDates">
            <h1 class="hero">Работы недели</h1>
            <h2>21.03 —<br>
              28.03</h2>
          </div>
          <div class="M_DescriptionTransit">
            <p>Что больше всего привлекло внимание? Работы, которые отмечают, обсуждают, пересматривают. Посмотрите, что стало главным за эти дни.</p>
            <%= link_to posts_path, class: "A_NextArrow" do %>
              <p>Все работы</p>
              <%= image_tag 'icons/Q_Arrow.svg' %>
            <% end %>
          </div>
        </div>
        <div class="W_TwoWeekPosts">
          <% @top_posts[1..2].each do |post| %>
            <%= render partial: 'week_post', locals: { post: post } %>
          <% end %>
        </div>
      </div>
      <% if @top_posts.first.present? %>
        <%= render partial: 'week_post', locals: { post: @top_posts.first } %>
      <% end %>
    </div>
    <%# ------------------ %>
    <div class="W_MainWeekPostsBottom">
      <% @top_posts[3..6].each do |post| %>
        <%= render partial: 'week_post', locals: { post: post } %>
      <% end %>
    </div>
  </div>
  <%# ----------------fourth----------------- %>
  <div class="S_MainNewPosts">
    <div class="W_NewPostsInfoSlider">
      <p class="Caption">Обновлено <br>
        15.03.25</p>
      <h1 class="hero">Новые работы</h1>
      <div class="M_NewPostsSlider">
        <div class="A_GalerySlider">
          <%= image_tag 'icons/Q_ArrowLeftSmall.svg' %>
        </div>
        <h2>01/10</h2>
        <div class="A_GalerySlider">
          <%= image_tag 'icons/Q_ArrowRightSmall.svg' %>
        </div>
      </div>
    </div>
    <%# LastPosts %>
    <div class="C_MainNewPosts">
      <% @top_posts[1..4].each do |post| %>
        <%= render partial: 'last_post', locals: { post: post } %>
      <% end %>
    </div>
  </div>
  <%# ----------------fifth----------------- %>
  <div class="S_MainPageAuthors">
    <div class="W_Authors">
      <div class="M_HeadingTransit">
        <h1 class="hero">Наши авторы</h1>
        <%= link_to profiles_path, class: "A_NextArrow" do %>
          <p>Все авторы</p>
          <%= image_tag 'icons/Q_Arrow.svg' %>
        <% end %>
      </div>
      <div class="C_AuthorsList">
        <% if @profiles_list.any? %>
          <% @profiles_list.each do |profile| %>
            <%= render 'artist_main', profile: profile %>
          <% end %>
        <% else %>
          <p>Нет доступных авторов</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
