<%# FirstScreenCover %>
<div class="L_Home">
  <%# -------------------first------------------- %>
  <div class="S_MainScreen"
    data-controller="animated-numbers"
    data-animated-numbers-speed-value="500"
    data-animated-numbers-fade-speed-value="150"
    data-animated-numbers-animation-duration-value="500">
    <div class="M_LogoStats">
      <%=  image_tag 'home/artovoe_small.svg'%>
      <div class="C_StatsRow">
        <p class="stats">Работы:<%= Post.all.count %></p>
        <p class="stats">Коллекции:<%= Collection.all.count %></p>
        <p class="stats">Художники:<%= Profile.all.count %></p>
      </div>
    </div>
    <div class="Q_PillBorder"></div>
    <div class="Q_CuberCrop left"></div>
    <div class="Q_CuberCrop right"></div>
    <div class="Q_CuberCrop top"></div>
    <div class="Q_CuberCrop bottom"></div>
    <div class="M_GreetButton">
      <h1 class="greet-text"><span>Медиакаталог</span><br>
        <span>где арт становится</span><br>
        <span>
          видимым</span>
      </h1>
      <%= link_to "Смотреть работы", posts_path, class: "A_Button" %>
    </div>
  </div>
  <%# ----------------second----------------- %>
  <div class="M_Ticker" data-controller="marquee">
    <div class="A_TickerContent">
      <div class="A_TickerItem">
        <%= image_tag 'icons/ticker_item.svg' %>
        <p class="Caption">Скульптура</p>
      </div>
      <div class="A_TickerItem">
        <%= image_tag 'icons/ticker_item.svg' %>
        <p class="Caption">Картина</p>
      </div>
      <div class="A_TickerItem">
        <%= image_tag 'icons/ticker_item.svg' %>
        <p class="Caption">Ювилирка</p>
      </div>
      <div class="A_TickerItem">
        <%= image_tag 'icons/ticker_item.svg' %>
        <p class="Caption">Диджитал-арт</p>
      </div>
      <div class="A_TickerItem">
        <%= image_tag 'icons/ticker_item.svg' %>
        <p class="Caption">Текстиль</p>
      </div>
      <div class="A_TickerItem">
        <%= image_tag 'icons/ticker_item.svg' %>
        <p class="Caption">Текстиль</p>
      </div>
      <div class="A_TickerItem">
        <%= image_tag 'icons/ticker_item.svg' %>
        <p class="Caption">Скульптура</p>
      </div>
      <div class="A_TickerItem">
        <%= image_tag 'icons/ticker_item.svg' %>
        <p class="Caption">Картина</p>
      </div>
      <div class="A_TickerItem">
        <%= image_tag 'icons/ticker_item.svg' %>
        <p class="Caption">Ювилирка</p>
      </div>
      <div class="A_TickerItem">
        <%= image_tag 'icons/ticker_item.svg' %>
        <p class="Caption">Диджитал-арт</p>
      </div>
      <div class="A_TickerItem">
        <%= image_tag 'icons/ticker_item.svg' %>
        <p class="Caption">Текстиль</p>
      </div>
      <div class="A_TickerItem">
        <%= image_tag 'icons/ticker_item.svg' %>
        <p class="Caption">Текстиль</p>
      </div>
    </div>
  </div>
  <%# ----------------third----------------- %>
  <div class="S_MainWeekWorks">
    <div class="W_WeekAboutTop">
      <div class="W_WeekAboutLeft">
        <div class="O_WeekWorksInfo">
          <div class="M_HeadingDates">
            <h1 class="hero">Работы недели</h1>
            <h2>19.06 —
              26.06</h2>
          </div>
          <div class="M_DescriptionTransit">
            <p>Что больше всего привлекло внимание? Работы, которые отмечают, обсуждают, пересматривают. Посмотрите, что стало главным за эти дни.</p>
            <%= link_to posts_path, class: "M_PostLink" do %>
              <p>Все работы</p>
              <img src="/assets/icons/Q_IconArrowRight.svg" alt="">
            <% end %>
          </div>
        </div>
        <div class="W_TwoWeekPosts">
          <% @top_posts[1..2].each do |post| %>
            <%= render partial: 'week_post', locals: { post: post } %>
          <% end %>
        </div>
      </div>
      <% if @top_posts.first.present? %>
        <%= render partial: 'week_post', locals: { post: @top_posts.first } %>
      <% end %>
    </div>
    <%# ------------------ %>
    <div class="W_MainWeekPostsBottom">
      <% @top_posts[3..6].each do |post| %>
        <%= render partial: 'week_post', locals: { post: post } %>
      <% end %>
    </div>
  </div>
  <%# ----------------fourth----------------- %>
  <div class="S_MainNewPosts">
    <div class="W_NewPostsInfoSlider">
      <p class="Caption">Обновлено <br>
        25.06.25</p>
      <h1 class="hero">Новые работы</h1>
      <div class="M_NewPostsSlider">
        <div class="A_GalerySlider">
          <%= image_tag 'icons/Q_ArrowLeftSmall.svg' %>
        </div>
        <h2>01/10</h2>
        <div class="A_GalerySlider">
          <%= image_tag 'icons/Q_ArrowRightSmall.svg' %>
        </div>
      </div>
    </div>
    <%# LastPosts %>
    <div class="C_MainNewPosts">
      <% @top_posts[1..4].each do |post| %>
        <%= render partial: 'last_post', locals: { post: post } %>
      <% end %>
    </div>
  </div>
  <%# ----------------fifth----------------- %>
  <div class="S_MainPageAuthors">
    <div class="W_Authors">
      <div class="M_HeadingTransit">
        <h1 class="hero">Наши авторы</h1>
        <%= link_to profiles_path, class: "M_PostLink" do %>
          <p>Все авторы</p>
          <img src="/assets/icons/Q_IconArrowRight.svg" alt="">
        <% end %>
      </div>
      <div class="C_AuthorsList">
        <% if @profiles_list.any? %>
          <% @profiles_list.each do |profile| %>
            <%= render 'artist_main', profile: profile %>
          <% end %>
        <% else %>
          <p>Нет доступных авторов</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
