<%= form_with(model: profile, class: "O_ProfileForm") do |form| %>
  <% if profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="M_FormLabel">
    <%= form.label :avatar, "Фотография профиля", style: "display: block" %>
    <%= form.file_field :avatar, class:%>
  </div>
  <div>
    <div class="W_Forms">
      <div class="M_FormLabel">
        <%= form.label :name, "Имя", style: "display: block" %>
        <%= form.text_field :name, class: "A_Form" %>
      </div>
      <div class="M_FormLabel">
        <%= form.label :bio, "Описание", style: "display: block" %>
        <%= form.text_area :bio, class: "A_Form" %>
      </div>
      <div class="M_FormLabel">
        <%= form.label :contact, "Контакты", style: "display: block" %>
        <%= form.text_field :contact, class: "A_Form" %>
      </div>
      <%= form.submit "Сохранить", class: "A_Button" %>
    </div>
  </div>
<% end %>
<%= button_to 'Удалить профиль', @profile, method: :delete, class: 'Danger' %>