  <%= link_to profile_path(profile), id: dom_id(profile), class: "O_Profile", data: { turbo_frame: "_top" } do %>
  <div class="M_ProfileCardPreview">
    <div class="Q_ArtistCardPreview">
      <% if profile.user.popular_post&.post_image&.url.present? %>
        <%= image_tag profile.user.popular_post.post_image.url, class: "popular-post" %>
      <% else %>
        <%= image_tag("Q_PlaceHolder.png") %>
      <% end %>
    </div>
  </div>
  <%= image_tag profile.avatar_url, class: "Q_ProfileImage index" %>
  <div class="M_ProfilePreviewInfo">
    <h4 class="subtitle"><%= profile.name %></h4>
    <div class="W_Ratings">
      <div class="M_InfoRow">
        <p class="footnote">Оценки <br>
          <%= profile.total_likes %>
        </p>
      </div>
      <div class="M_InfoRow">
        <p class="footnote">Работ <br>
          <%= @profile_post_counts[profile.user_id] || 0 %>
        </div>
        <div class="M_InfoRow">
          <p class="footnote">Коллекций <br>
            <%= @profile_collection_counts[profile.user_id] || 0 %>
          </div>
        </div>
      </div>
    <% end %>