<div class="S_TabsProfile" 
    data-controller="tabs"
    data-tabs-active-class="active"
    data-tabs-default-tab-value="tab1">
  <div class="C_Tabs">
    <button class="A_Tab" id="tab1" data-tabs-target="btn" data-action="click->tabs#select">Работы</button>
    <button class="A_Tab" id="tab2" data-tabs-target="btn" data-action="click->tabs#select">Коллекции</button>
    <button class="A_Tab" id="tab3" data-tabs-target="btn" data-action="click->tabs#select">Выставки</button>
    <button class="A_Tab" id="tab4" data-tabs-target="btn" data-action="click->tabs#select">Об авторе</button>
  </div>
  <div class="O_TabContent">
    <div data-tabs-target="tab" id="tab1">
      <div class="C_AllPosts">
        <% if @posts.empty? %>
          <div class="A_NoContent">
            У этого профиля пока нет постов.
          </div>
        <% else %>
          <% @posts.each do |post| %>
            <div class="O_Post"><%= render 'posts/post', post: post %></div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div data-tabs-target="tab" id="tab2" class='hidden'>
      <div class="C_Collections">
        <% if @collections.empty? %>
          <div class="A_NoContent">
            У этого профиля пока нет коллекций.
          </div>
        <% else %>
          <% @collections.each do |collection| %>
            <%= render 'collections/collection', collection: collection %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div data-tabs-target="tab" id="tab3" class='hidden'>
      <div class="C_DisplaysSorted profile">
        <% if @displays.empty? %>
          <div class="A_NoContent">
            У этого профиля пока нет выставок.
          </div>
        <% else %>
          <% @displays.group_by(&:year).sort_by { |year, _| -year }.each do |year, displays| %>
            <div class="O_Displays">
              <p class="year-display subtitle"><%= year %></p>
              <div class="C_Displays">
                <% displays.each do |display| %>
                  <div class="M_Display profile">
                    <h4 class="subtitle"><%= display.display_type %></h4>
                    <p><%= display.name %></p>
                    <p><%= display.city %></p>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div data-tabs-target="tab" id="tab4" class='hidden'>
      <%# -------------------------------------------------- %>
      <div class="W_AboutUser">
        <div class="O_AboutArtis">
          <div class="W_Rows">
            <div class="M_InfoRow">
              <p class="footnote">Имя художника</p>
              <p><%= @profile.name %></p>
            </div>
            <div class="M_InfoRow">
              <p class="footnote">Тelegram</p>
              <p><%= @profile.contact %></p>
            </div>
          </div>
          <div class="M_InfoRow">
            <p class="footnote">Теги автора</p>
            <div class="C_Tags">
              <%# materials %>
              <% @profile.material_list.take(2).each do |tag| %>
                <%= link_to tag, 
                tagged_profiles_path(tag, context: 'materials'), 
                class: "A_Tag", 
                data: { tag_context: 'materials' } %>
              <% end %>
              <%# moods %>
              <% @profile.mood_list.take(2).each do |tag| %>
                <%= link_to tag, 
                tagged_profiles_path(tag, context: 'moods'), 
                class: "A_Tag", 
                data: { tag_context: 'moods' } %>
              <% end %>
              <%# themes %>
              <% @profile.theme_list.take(2).each do |tag| %>
                <%= link_to tag, 
                tagged_profiles_path(tag, context: 'themes'), 
                class: "A_Tag", 
                data: { tag_context: 'themes' } %>
              <% end %>
              <%# genres %>
              <% @profile.genre_list.take(2).each do |tag| %>
                <%= link_to tag, 
                tagged_profiles_path(tag, context: 'genres'), 
                class: "A_Tag", 
                data: { tag_context: 'genres' } %>
              <% end %>
            </div>
          </div>
          <div class="M_InfoRow">
            <p class="footnote">О художнике</p>
            <p class="A_Bio"><%= @profile.bio %></p>
          </div>
        </div>
        <div class="M_ArtistActivity">
          <div class="M_InfoRow">
            <p class="footnote">На сайте</p>
            <p class="A_Bio">1 день</p>
          </div>
          <div class="M_InfoRow">
            <p class="footnote">Последняя публикация</p>
            <p class="A_Bio"><%= Post.last.created_at.strftime("%d.%m.%Y") %></p>
          </div>
        </div>
      </div>
      <%# ----------------------------------------------------  %>
    </div>
  </div>
</div>
