<%
  set_meta_tags(
    title: "Гениальные и концептуальные художники",
    description: "Самые классные и интересные авторы нашего медиа",
  )
%>
<p style="color: green"><%= notice %></p>
<div class="O_PageCover">
  <%= link_to collections_path,class: "M_SectionSwitcher" do %>
    <%= image_tag 'icons/A_ArrowSwitcherLeft.svg' %>
    <h4>Коллекции</h4>
  <% end %>
  <div class="W_SectionInfoBackground">
    <div class="W_SectionInfo">
      <h1>Художники</h1>
      <h4>Сообщество креаторов,
        создающих самобытные
        художественные образы.</h4>
      <div class="A_RateCountCircle">
        <div class="M_InfoRow">
          <p class="footnote">Профили</p>
          <p><%= Profile.all.count %></p>
        </div>
      </div>
    </div>
  </div>
  <%= link_to posts_path,class: "M_SectionSwitcher" do %>
    <h4>Работы</h4>
    <%= image_tag 'icons/A_ArrowSwitcherRight.svg' %>
  <% end %>
</div>
<%= turbo_frame_tag "posts_with_filters" do %>
  <div class="L_Artists">
    <div class="S_Filter">
      <div class="O_FilterTopBar">
        <div class="M_FilterChosen">
          <div class="A_FiltersDropdown" 
             data-controller="filter-dropdown" 
            data-action="click->filter-dropdown#toggle"
            data-filter-dropdown-target-id="filter-content"
            data-turbo-permanent>
            <h2>Фильтры</h2>
            <%= image_tag "icons/Q_IconArrowDown.svg", class: "icon-arrow" %>
          </div>
        </div>
        <%= render 'posts/sort_form' %>
      </div>
      <div id="filter-content" 
         class="O_FilterCategoryTags" 
         data-expanded="<%= params[:filter_expanded].present? %>">
        <%= render 'tags/tags_filter' %>
      </div>
    </div>
    <div class="C_ProfilesArtists">
      <% @profiles.each do |profile| %>
        <%= render 'profiles/profile', profile: profile %>
      <% end %>
    </div>
  </div>
<% end %>