<%
  set_meta_tags(
    title: @profile.name,
    description: @profile.bio,

  )
%>
<p style="color: green"><%= notice %></p>
<%= @user.email %>
<div class="S_Profile">
  <div class="A_DisplayMetrics"></div>
  <div class="W_Actions">
    <% if can?(:update, @profile) %>
      <%= link_to 'Редактировать', edit_profile_path(@profile), class: 'A_ButtonSecondary' %>
    <% end %>
    <% if can?(:destroy, @profile) %>
      <%= button_to 'Удалить профиль', @profile, method: :delete, class: 'A_ButtonSecondary Danger' %>
    <% end %>
  </div>
  <div class="O_ProfileInfo">
    <div class="W_AllInfoProfile">
      <div class="M_ProfileHead">
        <%= image_tag @profile.avatar_url,class: "A_ProfileAvatar"%>
        <div class="M_Subtext">
          <h1 ><%= @profile.name %></h1>
          <p><%= @profile.contact %></p>
        </div>
        <div class="W_Media">
          <img src="/assets/etc/Q_Telegram.png" alt="">
          <img src="/assets/etc/Q_Vk.png" alt="">
        </div>
      </div>
      <div class="W_BestCounting">
        <div class="A_BestStar">
          <p><%= rand(1..12) %></p>
        </div>
        <div class="W_RateWorks">
          <p>Оценки: <%= rand(12..150) %></p>
          <div class="M_WorksCount">
            <p>Работ: <%= @profile.user.posts.count %></p>
            <p>Коллекций: <%= @profile.user.collections.count %></p>
          </div>
        </div>
      </div>
    </div>
    <p class="A_Bio"><%= @profile.bio %></p>
  </div>
</div>
<div class="W_TypesOfContent ProfileMenu">
  <%= link_to "Работы", profile_path(@profile), class: "A_TypeOfContent" %>
  <%= link_to "Коллекции", collections_profile_path(@profile), class: "A_TypeOfContent" %>
  <%= link_to "Выставки", displays_profile_path(@profile), class: "A_TypeOfContent" %>
</div>
<!-- Работы пользователя -->
<% if action_name == "show" && @posts.present? %>
  <div class="C_AllPosts">
    <% if current_user && current_user.admin? %>
      <div class="FillGrid">
        <%= link_to new_post_path, class:"A_PlusAddButton" do %>
          <img src="/assets/buttons/PlusAdd.svg" alt="">
        <% end %>
      </div>
    <% end %>
    <% @posts.each do |post| %>
      <div class="O_Post"><%= render 'posts/post', post: post %></div>
    <% end %>
  </div>
<% elsif action_name == "collections" && @collections.present? %>
  <div class="C_Collections">
    <% if current_user && current_user.admin? %>
      <div class="FillGrid">
        <%= link_to new_admin_collection_path, class: "A_PlusAddButton" do %>
          <img src="/assets/buttons/PlusAdd.svg" alt="">
        <% end%>
      </div>
    <% end %>
    <% @collections.each do |collection| %>
      <%= render 'collections/collection', collection: collection %>
    <% end %>
  </div>
<% elsif action_name == "displays" && @displays.present? %>
  <div class="C_Displays">
    <% @displays.each do |display| %>
      <%= render 'displays/display', display: display %>
    <% end %>
  </div>
<% end %>
