<%
  set_meta_tags(
    title: @profile.name,
    description: @profile.bio,

  )
%>
<p style="color: green"><%= notice %></p>
<!-- app/views/profiles/show.html.erb -->
<div class="L_Profile">
  <div class="S_Profile">
    <div class="W_HeadOptions">
      <div class="O_ArtistHead">
        <div class="Q_ProfileImage profile">
          <%= image_tag @profile.avatar_url%>
        </div>
        <div class="M_ArtistRatings">
          <h1><%= @profile.name %></h1>
          <div class="W_Ratings">
            <div class="M_InfoRow">
              <p class="footnote">Оценки <br>
                <%= @profile.total_likes %>
              </p>
            </div>
            <div class="M_InfoRow">
              <p class="footnote">Работ <br>
                <%= @profile.user.posts.count %></p>
            </div>
            <div class="M_InfoRow">
              <p class="footnote">Коллекций <br>
                <%= @profile.user.collections.count %></p>
            </div>
          </div>
        </div>
      </div>
      <% if can?(:update, @profile) || can?(:destroy, @profile) || current_user&.admin? %>
        <div class="M_DotsDropdown" data-controller="dropdown" data-action="click->dropdown#toggle">
          <div class="right"data-dropdown-target="content">
            <% if can?(:update, @profile) %>
              <%= link_to 'Редактировать', edit_profile_path(@profile), class: 'A_DropdownItem' %>
            <% end %>
            <% if can?(:destroy, @profile) %>
              <%= button_to 'Удалить профиль', @profile, method: :delete, class: 'A_DropdownItem Danger' %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to "Выйти", destroy_user_session_path, class: 'A_DropdownItem', data: { turbo_method: :delete } %>
      <% else %>
      <% end %>
    </div>
    <div class="O_ProfileInfo">
    </div>
    <%# Tabs %>
    <%= render "tabs_profile" %>
  </div>
</div>