<%= turbo_frame_tag dom_id(@comment) do %>
  <%= form_with(model: [@post, @comment], 
      class: "O_CommentForm",
      data: { turbo: true }) do |form| %>
    <div class="M_FormGroup">
      <%= form.label :body, "Редактировать комментарий", class: "form-label" %>
      <%= form.text_field :body, class: "A_TextField" %>
    </div>
    <div class="form-actions">
      <%= form.submit "Сохранить", class: "A_SubmitForm" %>
      <%= link_to "Отмена", 
          post_path(@post), 
          class: "btn btn-secondary" %>
    </div>
  <% end %>
<% end %>