<%= turbo_frame_tag dom_id(@comment) do %>
  <%= form_with(model: [@post, @comment], 
      class: "O_CommentForm",
      data: { turbo: true }) do |f| %>
    <div class="M_CommentEdit">
      <%= f.label :body, "Редактирование комментария", class: "caption" %>
      <%= f.text_area :body, class: "A_TextArea" %>
    </div>
    <div class="W_CommentActions">
      <%= f.submit "Сохранить", class: "A_SmallButton" %>
      <%= link_to "Отмена", 
          post_path(@post), 
          class: "btn btn-secondary" %>
    </div>
  <% end %>
<% end %>