<div class="like-container" id="<%= dom_id(likable, :like) %>">
  <% if user_signed_in? %>
    <%= link_to(
          toggle_likes_path(type: likable.class.name, id: likable.id),
          class: "like-button",
          data: { turbo_method: :post, turbo_stream: true }
        ) do %>
      <% if likable.likes.exists?(user: current_user) %>
        <%= image_tag("icons/like-fill.svg", alt: "Unlike", class: "like-icon") %>
      <% else %>
        <%= image_tag("icons/like-outline.svg", alt: "Like", class: "like-icon") %>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path, class: "like-button" do %>
      <%= image_tag("icons/like-outline.svg", alt: "Like", class: "like-icon") %>
    <% end %>
  <% end %>
  <p class="likes-count"><%= likable.likes_count %></p>
</div>