<div class="M_Display" id="display_<%= display.id %>">
  <% if local_assigns[:show_delete] %>
    <%= button_to post_display_path(post, display), 
                  method: :delete, 
                  class: "A_DeleteButton",
                  form: { data: { turbo_confirm: "Удалить выставку?" } } do %>
      <span class="delete-icon">×</span>
    <% end %>
  <% end %>
  <div class="row">
    <p class="display-city"><%= display.city %></p>
    <p class="display-type"><%= display.display_type %></p>
  </div>
  <div class="row">
    <% if local_assigns[:show_delete] %>
      <p class="subtitle"><%= display.year %></p>
    <% end %>
    <h3 class="subtitle"><%= display.name %></h3>
  </div>
</div>
