<%= form_with(model: [:admin, post]) do |f| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%# Название %>
  <div>
    <%= f.label :title, "Название работы", style: "display: block" %>
    <%= f.text_field :title %>
  </div>
  <%# Описание %>
  <div>
    <%= f.label :body, "Описание", style: "display: block" %>
    <%= f.text_area :body %>
  </div>
  <%# Категория %>
  <div>
    <%= f.label :body, "Категория", style: "display: block" %>
    <%= f.select :category_list, valid_categories, {} %>
  </div>
  <br>
  <hr>
  <h3>Опциональные поля</h3>
  <br>
  <%# Город %>
  <div>
    <%= f.label :city,"Город создания", style: "display: block" %>
    <%= f.text_field :city %>
  </div>
  <%# Кол-вот %>
  <div>
    <%= f.label :amount,"Тиражность", style: "display: block" %>
    <%= f.text_field :amount %>
  </div>
  <%# Цена %>
  <div>
    <%= f.label :price,"Стоимость работы", style: "display: block" %>
    <%= f.text_field :price %>
  </div>
  <div>
    <%= f.label :year,"Год создания работы", style: "display: block" %>
    <%= f.text_field :year %>
  </div>
  <hr>
  <br>
  <hr>
  <%# Данный об экспозиции %>
  <h3>Данные экспозиции</h3>
  <%= f.fields_for :displays do |display_form| %>
    <div class="display-fields">
      <div>
        <%= display_form.label :name, "Название" %>
        <%= display_form.text_field :name, class: "A_Form" %>
      </div>
      <div>
        <%= display_form.label :year, "Год" %>
        <%= display_form.text_field :year, class: "A_Form" %>
      </div>
      <div>
        <%= display_form.label :display_type, "Тип экспозиции" %>
        <%= display_form.select :display_type, ["Выставка", "Арт-маркет", "Галерея", "Цифровая экспозиция"], {}, class: "A_Form" %>
      </div>
      <div class="field">
        <%= display_form.label :city, "Город" %>
        <%= display_form.text_field :city %>
      </div>
      <div>
        <%= display_form.label :link, "Ссылка" %>
        <%= display_form.text_field :link, class: "A_Form" %>
      </div>
    </div>
  <% end %>
  <hr>
  <%# Теги %>
  <%= f.label :price,"Теги", style: "display: block" %>
  <%= f.collection_check_boxes(:tag_list, valid_tags, :to_s, :to_s) do |b| %>
    <div class="form-check">
      <label class="form-check-label">
        <%= b.check_box class: 'form-check-input' %>
        <%= b.text %>
      </label>
    </div>
  <% end %>
  <%# Картинка %>
  <div>
    <%= f.label :post_image,"Изображение", style: "display: block" %>
    <%= f.file_field :post_image %>
  </div>
  <br>
  <div>
    <%= f.submit %>
  </div>
<% end %>
