<%= form_with(model: @post, data: { controller: "autosave", action: "submit->autosave#submit" },html: { class: "L_Form" }) do |f| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Основные поля -->
  <div class="O_FormBlock">
    <h4 class="headline-4">Описание</h4>
    <div class="W_Forms">
      <div class="M_FormLabel">
        <%= f.label :title, "Название работы", style: "display: block", class: "red" %>
        <%= f.text_field :title, class: "A_Form", placeholder: "Введите название " %>
      </div>
      <div class="M_FormLabel">
        <%= f.label :body, "Описание", style: "display: block" %>
        <%= f.text_area :body, class: "A_Form", placeholder: "Введите описание " %>
      </div>
      <div class="W_TwoFormRow">
        <div class="M_FormLabel">
          <%= f.label :year, "Год создания работы", style: "display: block" %>
          <%= f.text_field :year, class: "A_Form", placeholder: "Введите год создания" %>
        </div>
        <div class="M_FormLabel">
          <%= f.label :category_list, "Категория", style: "display: block" %>
          <%= f.select :category_list, valid_categories, { include_blank: "Выберите категорию" }, class: "A_Form" %>
        </div>
      </div>
      <div class="O_FormBlock" data-controller="image-upload">
        <%= f.label :post_image, "Изображение", style: "display: block" %>
        <!-- file input -->
        <%= f.file_field :post_image, 
      data: { 
        image_upload_target: "fileInput",
        action: "change->image-upload#handleFileSelect" 
      }, 
      style: "display: none;" %>
        <div class="M_FileUpload" 
       data-image-upload-target="dropzone"
       data-action="click->image-upload#triggerFileInput 
          dragover->image-upload#handleDragOver 
          dragleave->image-upload#handleDragLeave 
          drop->image-upload#handleDrop">
          <img src="/assets/icons/Q_Upload.svg" alt="Logo">
          <p class="uploader-text" data-image-upload-target="uploaderText">
            Нажмите, чтобы загрузить файл,<br>
            либо перетащите сюда
          </p>
          <p class="footnote">JPG,JPEG,PNG и WEBP до 5МБ</p>
        </div>
      </div>
    </div>
  </div>
  <%# ImageUploader %>
  <%# Tags %>
  <div class="O_FormBlock">
    <h4 class="headline-4">Теги работы</h4>
    <%= render 'tags/tag_selector' %>
  </div>
  <!-- Детали -->
  <div class="O_FormBlock">
    <h4 class="headline-4">Дополнительно</h4>
    <div class="W_Forms">
      <div class="M_FormLabel">
        <%= f.label :city, "Город создания", style: "display: block" %>
        <%= f.text_field :city, class: "A_Form", placeholder: "Введите место создания" %>
      </div>
      <div class="M_FormLabel">
        <%= f.label :amount, "Тиражность", style: "display: block" %>
        <%= f.text_field :amount, class: "A_Form", placeholder: "Введите число копий" %>
      </div>
      <div class="M_FormLabel">
        <%= f.label :price, "Стоимость работы (опционально)", style: "display: block" %>
        <%= f.text_field :price, class: "A_Form", placeholder: "Введите стоимость в рублях" %>
      </div>
    </div>
  </div>
  <!-- Кнопка отправки -->
  <div class="W_TwoButtons">
    <%= link_to "+ Добавить выставки", "#", class: "A_ButtonSecondary",
                 data: { action: "click->autosave#saveAndRedirect" } %>
    <%= f.submit "Опубликовать", class: "A_Button" %>
  </div>
<% end %>