<%= form_with(model: post, data: { controller: "form-tabs",form_tabs_default_tab_value: "tab-description", form_tabs_active_class: "active"}) do |f| %>
  <div class="C_Tabs">
    <button type="button" 
            class="A_Tab <%= 'active' if params[:anchor] != 'tab-details' && params[:anchor] != 'tab-exhibitions' %>" 
            data-action="click->form-tabs#select" data-target="tab-description">Описание</button>
    <button type="button" 
            class="A_Tab <%= 'active' if params[:anchor] == 'tab-details' %>" 
            data-action="click->form-tabs#select" data-target="tab-details"> Детали</button>
    <button type="button" 
            class="A_Tab <%= 'active' if params[:anchor] == 'tab-exhibitions' %>" 
            data-action="click->form-tabs#select"
      data-target="tab-exhibitions">Выставки</button>
  </div>
  <div class="O_TabContent">
    <div id="tab-description" class="tab-pane <%= 'active' unless params[:anchor] == 'tab-details' || params[:anchor] == 'tab-exhibitions' %>" 
         data-form-tabs-target="tab">
      <% if post.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
            <% post.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="W_Forms">
        <div class="M_FormLabel">
          <%= f.label :title, "Название работы", style: "display: block", class: "red" %>
          <%= f.text_field :title, class: "A_Form" %>
        </div>
        <div class="M_FormLabel">
          <%= f.label :body, "Описание", style: "display: block" %>
          <%= f.text_area :body, class: "A_Form" %>
        </div>
        <div class="M_FormLabel">
          <%= f.label :category_list, "Категория", style: "display: block" %>
          <%= f.select :category_list, valid_categories, { include_blank: "Выберите категорию" }, class: "A_Form" %>
        </div>
        <%= f.label :post_image, "Изображение", style: "display: block" %>
        <%= f.file_field :post_image %>
        <%= render 'tags/tag_selector' %>
        <%= f.submit "Опубликовать", class: "A_Button medium" %>
      </div>
    </div>
    <div id="tab-details" class="tab-pane <%= 'active' if params[:anchor] == 'tab-details' %>" 
         data-form-tabs-target="tab">
      <div class="W_Forms">
        <div class="M_FormLabel">
          <%= f.label :city, "Город создания", style: "display: block" %>
          <%= f.text_field :city, class: "A_Form" %>
        </div>
        <div class="M_FormLabel">
          <%= f.label :amount, "Тиражность", style: "display: block" %>
          <%= f.text_field :amount, class: "A_Form" %>
        </div>
        <div class="M_FormLabel">
          <%= f.label :price, "Стоимость работы", style: "display: block" %>
          <%= f.text_field :price, class: "A_Form" %>
        </div>
        <div class="M_FormLabel">
          <%= f.label :year, "Год создания работы", style: "display: block" %>
          <%= f.text_field :year, class: "A_Form" %>
        </div>
        <div class="W_TwoButtons">
          <%= f.submit "Опубликовать", class: "A_Button medium" %>
        </div>
      </div>
    </div>
    <div id="tab-exhibitions" class="tab-pane <%= 'active' if params[:anchor] == 'tab-exhibitions' %>" 
         data-form-tabs-target="tab">
      <div class="W_Forms">
        <div class="M_SubText">
          <h3>Добавление выставок</h3>
          <p class="caption">Укажите выставки, на которых была представлена ваша работа. Это подчеркнёт её путь и повысит значимость для зрителя.</p>
        </div>
        <div class="W_FormButton">
          <%= f.fields_for :displays do |display_form| %>
            <div class="M_FormLabel">
              <%= display_form.label :name, "Название" %>
              <%= display_form.text_field :name, class: "A_Form" %>
            </div>
            <div class="M_FormLabel">
              <%= display_form.label :city, "Город" %>
              <%= display_form.text_field :city, class: "A_Form" %>
            </div>
            <div class="W_TwoFormRow">
              <div class="M_FormLabel">
                <%= display_form.label :year, "Год" %>
                <%= display_form.text_field :year, class: "A_Form" %>
              </div>
              <div class="M_FormLabel">
                <%= display_form.label :display_type, "Тип экспозиции" %>
                <%= display_form.select :display_type, ["Выставка", "Арт-маркет", "Галерея", "Цифровая экспозиция"], { include_blank: "Тип выставки" }, class: "A_Form" %>
              </div>
            </div>
            <%# <button type="button" class="A_ButtonSecondary medium-s">Добавить выставку</button> %>
          <% end %>
        </div>
        <%# <div class="M_FormLabel">
          <p>Добавленные выставки</p>
          <div class="C_Exhibitions"></div>
        </div> %>
        <%= f.submit "Опубликовать", class: "A_Button medium" %>
      </div>
    </div>
  </div>
<% end %>