<!-- Image -->
<%= link_to post_path(post), class: "Q_PostImageLink" do %>
  <div class="Q_PostWrapper aspect-<%= post.aspect_ratio.gsub(':', '-') %>">
    <%= image_tag post.post_image.url, class: "Q_PostImage" %>
  </div>
<% end %>
<!-- Category -->
<div class="W_PostInfo">
  <div class="M_PostNameCategory">
    <% post.categories.each do |category| %>
      <%= link_to category, tagged_posts_path(category), class: "caption" %>
    <% end %>
    <!-- PostBio -->
    <%= link_to post_path(post) do %>
      <h4 class="subtitle"><%= post.title %></h4>
    <% end %>
  </div>
  <p class="caption"><%= post.user.profile.name %></p>
</div>