<!-- Image -->
<%= link_to post_path(post), class: "Q_PostImageLink",data: { turbo_frame: "_top" } do %>
  <div class="Q_PostWrapper aspect-<%= post.aspect_ratio.gsub(':', '-') %>">
    <%= image_tag post.post_image.url, class: "Q_PostImage" %>
  </div>
<% end %>
<!-- Category -->
<div class="W_PostInfo">
  <div class="M_PostNameCategory">
    <%# post.categories.each do |category| %>
      <%# link_to category, tagged_posts_path(category), class: "caption" %>
      <%# end %>
      <!-- PostBio -->
      <%= link_to post_path(post) do %>
        <h4><%= post.title %></h4>
      <% end %>
    </div>
    <% tags = [] %>
    <% tags += post.categories.map { |c| c.name.to_s.capitalize } %>
    <% tags += post.material_list.take(1).map(&:to_s).map(&:capitalize) %>
    <% tags += post.mood_list.take(1).map(&:to_s).map(&:capitalize) %>
    <% tags += post.theme_list.take(1).map(&:to_s).map(&:capitalize) %>
    <% tags += post.genre_list.take(1).map(&:to_s).map(&:capitalize) %>
    <% if tags.any? %>
      <p class="caption"><%= tags.join(', ') %></p>
    <% end %>
    <p class="caption"><%= post.user.profile.name %></p>
  </div>