<%
  all_tags = @post.material_list + @post.mood_list + @post.genre_list + @post.theme_list 

  set_meta_tags(
    title: @post.title,
    description: @post.body,
    keywords: all_tags
  )
%>
<p style="color: green"><%= notice %></p>
<div class="L_Post">
  <div class="S_PostShowHead">
    <div class="O_PostActionMenu">
      <div class="A_NavigationPost">
        <%= link_to "Все работы", posts_url,class:"footnote" %>
        <p class="footnote">|</p>
        <p class="artname footnote"><%= @post.title %></p>
      </div>
      <div class="M_LikeFavourite">
        <%= render partial: "likes/button", locals: {likable: @post} %>
        <button class="A_SaveButton">Сохранить</button>
      </div>
      <div class="M_Options">
        <% if can?(:update, @post) || can?(:destroy, @post) || current_user&.admin? %>
          <div class="M_DotsDropdown" data-controller="dropdown" data-action="click->dropdown#toggle">
            <div class="right"data-dropdown-target="content">
              <% if can?(:update, @post) %>
                <%= link_to 'Редактировать', edit_post_path(@post), class: 'A_DropdownItem' %>
              <% end %>
              <% if can?(:destroy, @post) %>
                <%= button_to 'Удалить работу', @post, method: :delete, class: 'A_DropdownItem Danger' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%# ---------------------------------------------- %>
    <div class="O_NameSwitcher" data-controller="post-switcher">
      <div class="W_ArrowContainer">
        <div class="A_ArrowSwitcher left <%= 'disabled' unless @has_previous %>" 
         data-action="click->post-switcher#navigate"
          data-post-switcher-url="<%= post_path(@previous_post) %>">
        </div>
      </div>
      <div class="M_TitleCreatorName">
        <div class="A_CreatorPost">
          <%= link_to profile_path(@post.user.profile), class: "A_CreatorPost" do %>
            <%= image_tag(@post.user.profile.avatar_url, class: "Q_ProfileImage") %>
            <p><%= @post.user.profile.name %></p>
          <% end %>
        </div>
        <h1><%= @post.title %></h1>
      </div>
      <div class="W_ArrowContainer right">
        <div class="A_ArrowSwitcher right <%= 'disabled' unless @has_next %>"
         data-action="click->post-switcher#navigate"
          data-post-switcher-url="<%= post_path(@next_post) %>">
        </div>
      </div>
    </div>
    <%# ------------------------------------------ %>
    <div class="W_PostImageDescription">
      <div class="M_TypeDate">
        <div class="M_InfoRow">
          <p><%= @post.category_list.map(&:capitalize).join(', ') %></p>
          <p><%= @post.year %></p>
        </div>
        <p class="A_Publication footnote">Опубликовано:<br>
          <%= @post.created_at.strftime("%d.%m.%Y") %>
        </p>
      </div>
      <div class="O_ImageSliderBody">
        <div class="M_ImageSlider">
          <div class="A_ImageContainer aspect-<%= @post.aspect_ratio.gsub(':', '-') %>">
            <%= image_tag @post.post_image.url, class: "Q_ShowPostImage"  %>
          </div>
          <div class="C_Miniatures">
            <div class="A_Miniature"></div>
          </div>
        </div>
        <p><%= @post.body%></p>
      </div>
      <div class="O_PostInformation">
        <div class="M_InfoRow">
          <p class="footnote">Теги</p>
          <%= render 'tags/taglist' %>
        </div>
        <div class="M_InfoRow">
          <p class="footnote">Категория</p>
          <p class="caption"><%= @post.category_list.map(&:capitalize).join(', ') %></p>
        </div>
        <div class="M_InfoRow">
          <p class="footnote">Место создания</p>
          <% if @post.city.present? %>
            <p class="caption"><%= @post.city %></p>
          <% else %>
            <p class="caption">Не указано</p>
          <% end %>
        </div>
        <div class="M_InfoRow">
          <p class="footnote">Год создания</p>
          <% if @post.year.present? %>
            <p class="caption"><%= @post.year %></p>
          <% else %>
            <p class="caption">Не указан</p>
          <% end %>
        </div>
        <div class="M_InfoRow">
          <p class="footnote">Уникальность</p>
          <% if @post.amount.present? %>
            <p class="caption"><%= @post.amount %></p>
          <% else %>
            <p class="caption">Не указана</p>
          <% end %>
        </div>
        <div class="M_InfoRow">
          <p class="footnote">Стоимость</p>
          <% if @post.price.present? %>
            <p class="caption"><%= @post.year %></p>
          <% else %>
            <p class="caption">Не указана</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="C_DisplaysSorted">
    <% @post.displays.group_by(&:year).sort_by { |year, _| -year }.each do |year, displays| %>
      <div class="O_Displays">
        <p class="year-display subtitle"><%= year %></p>
        <div class="C_Displays">
          <% displays.each do |display| %>
            <div class="M_Display">
              <h4 class="subtitle"><%= display.display_type %></h4>
              <p><%= display.name %></p>
              <p><%= display.city %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%#  %>
  <div class="S_Comments">
    <h2>Комментарии</h2>
    <div class="C_Comments">
      <%= turbo_frame_tag "comment_form" do %>
        <div class="SendComment">
          <%= render "comments/form" %>
        </div>
      <% end %>
      <%= turbo_frame_tag "comments" do %>
        <% @post.comments.each do |comment| %>
          <%= render comment %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>