<%
  all_tags = @post.material_list + @post.mood_list + @post.genre_list + @post.theme_list 

  set_meta_tags(
    title: @post.title,
    description: @post.body,
    keywords: all_tags
  )
%>
<p style="color: green"><%= notice %></p>
<div class="M_HeadLinks">
  <%= link_to "Все работы", posts_url,class: "A_BackLink" %>
  <div class="M_Options">
    <div class="M_ActionButton">
      <% if can?(:manage, @post) %>
        <%= link_to "Изменить", edit_post_path(@post), class: 'A_Edit' %>
        <%= button_to "⌦Удалить пост", post_path(@post), method: :delete %>
      <% else %>
      <% end %>
      <%= render partial: "likes/button", locals: {likable: @post} %>
    </div>
  </div>
</div>
<div class="W_Post">
  <div class="A_ImageContainer">
    <%= image_tag @post.post_image.url, class: "Q_ShowPostImage"  %>
  </div>
  <div>
    <div class="W_PostShowHead">
      <p><%= @post.category_list %></p>
      <h1><%= @post.title %></h1>
      <%# tags %>
      <%= render 'tags/taglist' %>
    </div>
    <p class="A_ShowDescription"><%= @post.body%></p>
    <div class="M_ProfileTimeCreated">
      <%= link_to profile_path(@post.user.profile),class: "A_AuthorProfile" do %>
        <p><%= @post.user.profile.name %></p>
      <% end%>
      <p class="A_Publication">Опубликовано: <%= @post.created_at.strftime("%d.%m.%Y") %></p>
    </div>
    <div class="C_DataPost">
      <div class="A_DataColumn">
        <p>Город</p>
        <p><%= @post.city %></p>
      </div>
      <div class="A_DataColumn">
        <p>Тиражность</p>
        <p><%= @post.amount %></p>
      </div>
      <div class="A_DataColumn">
        <p>Цена</p>
        <p><%= @post.price %></p>
      </div>
    </div>
    <div class="M_PostOtherData">
      <p> Год создания: <%= @post.year %></p>
    </div>
  </div>
  <div class="C_Displays">
    <% @post.displays.each do |display| %>
      <div class="M_Display">
        <div>
          <p><%= display.display_type %></p>
          <p><%= display.name %></p>
        </div>
        <div>
          <p><%= display.year %></p>
          <p><%= display.city %></p>
        </div>
      </div>
    <% end %>
  </div>
  <%#  %>
  <div class="S_Comments">
    <h2>Комментарии</h2>
    <div class="C_Comments">
      <%= turbo_frame_tag "comment_form" do %>
        <div class="SendComment">
          <%= render "comments/form" %>
        </div>
      <% end %>
      <%= turbo_frame_tag "comments" do %>
        <% @post.comments.each do |comment| %>
          <%= render comment %>
        <% end %>
      <% end %>
    </div>
  </div>