<%
  set_meta_tags(
    title: @post.title,
    description: @post.body,
    keywords: @post.tag_list
  )
%>
<div class="L_PostShow">
  <p style="color: green"><%= notice %></p>
  <div class="O_PostShow">
    <div class="M_HeadLinks">
      <% if params[:collection_id].present? %>
        <%= link_to "<- Вернуться в коллекцию", collection_path(params[:collection_id]) %>
      <% else %>
        <%= link_to "<- Назад", request.referer || posts_path, class: "A_BackLink" %>
      <% end %>
      <div class="M_Options">
        <div class="M_ActionButton">
          <% if can?(:manage, @post) %>
            <%= link_to "Изменить", edit_admin_post_path(@post), class: 'A_Edit' %>
            <%= button_to "⌦Удалить пост", admin_post_path(@post), method: :delete %>
          <% else %>
            <p>Авторизируйтесь, чтобы редактировать</p>
          <% end %>
          <%= render partial: "like/button", locals: {likable: @post} %>
        </div>
      </div>
    </div>
    <div class="W_Post">
      <div class="Q_SharpPoint Q_SharpBodyColor"></div>
      <div class="Q_SharpPoint Q_SharpBodyColor"></div>
      <div class="Q_SharpPoint Q_SharpYellowColor"></div>
      <div class="Q_SharpPoint Q_SharpYellowColor"></div>
      <div class="A_ImageContainer">
        <%= image_tag @post.post_image.url, class: "Q_ShowPostImage"  %>
      </div>
      <div class="S_Post">
        <div class="O_ShowHeadBio">
          <div class="W_PostShowHead">
            <p><%= @post.category_list %></p>
            <h1><%= @post.title %></h1>
            <div class="C_Tags">
              <% @post.tags.each do |tag| %>
                <%= link_to tag.name, tagged_posts_path(tag.name), class: "A_Tag" %>
              <% end %>
            </div>
          </div>
          <p class="A_ShowDescription"><%= @post.body%></p>
        </div>
        <div class="M_ProfileTimeCreated">
          <%= link_to profile_path(@post.user.profile),class: "A_AuthorProfile" do %>
            <p><%= @post.user.profile.name %></p>
          <% end%>
          <p class="A_Publication">Опубликовано: <%= @post.created_at.strftime("%d.%m.%Y") %></p>
        </div>
        <div class="C_DataPost">
          <div class="A_DataColumn">
            <p>Город</p>
            <p><%= @post.city %></p>
          </div>
          <div class="A_DataColumn">
            <p>Тиражность</p>
            <p><%= @post.amount %></p>
          </div>
          <div class="A_DataColumn">
            <p>Цена</p>
            <p><%= @post.price %></p>
          </div>
        </div>
      </div>
      <div class="M_PostOtherData">
        <p> Год создания <%= @post.year %></p>
        <% @post.displays.each do |display| %>
          <div class="M_Display">
            <p><%= display.display_type %></p>
            <p><%= display.name %></p>
            <p><%= display.year %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if @other_posts.present? %>
    <div class="S_OtherPosts">
      <div class="M_MoreWorks">
        <h2>Работы автора</h2>
        <%= link_to "В профиль →", profile_path(@post.user.profile) %>
      </div>
      <div class="C_AllPosts">
        <% @other_posts.each do |other_post| %>
          <div class="O_Post">
            <%= render 'posts/post', post: other_post %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="S_Comments">
    <h2>Комментарии</h2>
    <div class="C_Comments">
      <%= turbo_frame_tag "comment_form" do %>
        <div class="SendComment">
          <%= render "comments/form" %>
        </div>
      <% end %>
      <%= turbo_frame_tag "comments" do %>
        <% @post.comments.each do |comment| %>
          <%= render comment %>
        <% end %>
      <% end %>
    </div>
  </div>
