<%
  all_tags = @post.material_list + @post.mood_list + @post.genre_list + @post.theme_list 

  set_meta_tags(
    title: @post.title,
    description: @post.body,
    keywords: all_tags
  )
%>
<p style="color: green"><%= notice %></p>
<div class="S_PostShowHead">
  <div class="O_PostActionMenu">
    <div class="A_NavigationPost">
      <%= link_to "Все работы | ", posts_url %>
      <p class="artname"><%= @post.title %></p>
    </div>
    <div class="M_LikeFavourite">
      <%= render partial: "likes/button", locals: {likable: @post} %>
      <button class="A_SaveButton">Сохранить</button>
    </div>
    <div class="M_Options">
      <div class="M_ActionButton">
        <% if can?(:manage, @post) %>
          <%= link_to "Изменить", edit_post_path(@post), class: 'A_Edit' %>
          <%= button_to "⌦Удалить пост", post_path(@post), method: :delete %>
        <% else %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="O_NameSwitcher">
    <div class="W_ArrowContainer">
      <div class="A_ArrowSwitcher left"></div>
    </div>
    <div class="M_TitleCreatorName">
      <div class="A_CreatorPost">
        <%= link_to profile_path(@post.user.profile),class: "A_CreatorPost" do %>
          <%= image_tag(@post.user.profile.avatar_url, class: "Q_ProfileImage") %>
          <p><%= @post.user.profile.name %></p>
        <% end%>
      </div>
      <h1><%= @post.title %></h1>
    </div>
    <div class="W_ArrowContainer right">
      <div class="A_ArrowSwitcher right"></div>
    </div>
  </div>
  <%# ------------------------------------------ %>
  <div class="W_PostImageDescription">
    <div class="M_TypeDate">
      <div class="M_InfoRow">
        <p><%= @post.category_list.map(&:capitalize).join(', ') %></p>
        <p><%= @post.year %></p>
      </div>
      <p class="A_Publication footnote">Опубликовано:<br>
        <%= @post.created_at.strftime("%d.%m.%Y") %>
      </p>
    </div>
    <div class="O_ImageSliderBody">
      <div class="M_ImageSlider">
        <div class="A_ImageContainer aspect-<%= @post.aspect_ratio.gsub(':', '-') %>">
          <%= image_tag @post.post_image.url, class: "Q_ShowPostImage"  %>
        </div>
      </div>
      <h4><%= @post.body%></h4>
    </div>
    <div class="O_PostInformation">
      <div class="M_InfoRow">
        <p class="footnote">Теги</p>
        <%= render 'tags/taglist' %>
      </div>
      <div class="M_InfoRow">
        <p class="footnote">Категория</p>
        <p class="caption"><%= @post.category_list.map(&:capitalize).join(', ') %></p>
      </div>
      <div class="M_InfoRow">
        <p class="footnote">Место создания</p>
        <p class="caption"><%= @post.city %></p>
      </div>
      <div class="M_InfoRow">
        <p class="footnote">Год создания</p>
        <p class="caption"><%= @post.year %></p>
      </div>
      <div class="M_InfoRow">
        <p class="footnote">Уникальность</p>
        <p class="caption"><%= @post.amount %></p>
      </div>
      <div class="M_InfoRow">
        <p class="footnote">Стоимость</p>
        <p class="caption"><%= @post.price %></p>
      </div>
    </div>
  </div>
</div>
<div class="W_Post">
  <div class="C_Displays">
    <% @post.displays.each do |display| %>
      <div class="M_Display">
        <div>
          <p><%= display.display_type %></p>
          <p><%= display.name %></p>
        </div>
        <div>
          <p><%= display.year %></p>
          <p><%= display.city %></p>
        </div>
      </div>
    <% end %>
  </div>
  <%#  %>
  <div class="S_Comments">
    <h2>Комментарии</h2>
    <div class="C_Comments">
      <%= turbo_frame_tag "comment_form" do %>
        <div class="SendComment">
          <%= render "comments/form" %>
        </div>
      <% end %>
      <%= turbo_frame_tag "comments" do %>
        <% @post.comments.each do |comment| %>
          <%= render comment %>
        <% end %>
      <% end %>
    </div>
  </div>