<footer class="S_Footer">
  <div class="W_LogoCategories">
    <div class="A_FooterLogo">
      <%= image_tag 'etc/A_LogoFooter.svg' %>
    </div>
    <div class="C_FooterCategories">
      <%= link_to "Работы", posts_path %>
      <%= link_to "Коллекции", collections_path %>
      <%= link_to "Художники", profiles_path %>
      <%= link_to "О нас", about_path %>
    </div>
  </div>
  <%# -----------------------------------  %>
  <div class="W_FormTeams">
    <div class="W_FooterFormSign">
      <h4>Подпишись на артовую рассылку</h4>
      <div class="M_FooterForm">
        <input class="A_Form" type="email",name="Email" placeholder="Ваш email">
        <div class="A_ButtonSecondary">
          <p>Подписаться</p>
        </div>
      </div>
    </div>
    <%# ------------------------------------ %>
    <div class="W_FooterInfo">
      <div class="C_FooterTeams">
        <div class="W_FooterRegalia">
          <p>Руководили</p>
          <p>Вадим Булгаков</p>
          <p>Захар День</p>
        </div>
        <div class="W_FooterRegalia">
          <p>Задизайнили</p>
          <p>Максим Кириллов</p>
          <p>Ева Киприанова</p>
          <p>Злата Баева</p>
        </div>
      </div>
      <p class="hse" >HSE ADC
        Community
        2024/2025</p>
    </div>
  </div>
</footer>