<header class="S_Header header-visible" data-controller="search">
  <div class="O_HeaderMenu">
    <div class="M_LogoDescription">
      <%= link_to root_path do %>
        <div class="A_Logo"></div>
      <% end%>
    </div>
    <div class="search-modal" data-search-target="modal">
      <div class="O_NavigationContent">
        <div class="W_NavigationFull">
          <div class="A_MenuUpperLink">
            <h4>Главная</h4>
          </div>
          <div class="W_NavigationBottom">
            <%= button_tag "", type: :button, class: "A_CloseMenu", 
          data: { action: "click->search#hideModal" } %>
            <div class="C_CategoresLinks">
              <% all_categories.each do |category| %>
                <%= link_to category.name.capitalize, tagged_posts_path(category.name), class: 'A_MenuLinkSmall' %>
              <% end %>
            </div>
            <div class="C_GiantLinks">
              <%= link_to "Работы", posts_url,class: "A_MenuLinkGIant" %>
              <%= link_to "Коллекции", collections_path,class: "A_MenuLinkGIant" %>
              <%= link_to "Художники", profiles_path,class: "A_MenuLinkGIant" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="W_SearchMenu">
      <%= form_with url: search_path, class: "search-head", method: :get do |form| %>
        <%= form.text_field :query, 
        placeholder: "Найти искусство", 
        class: "M_MenuSearch" %>
      <% end %>
      <%# Window Trigger %>
      <div class="A_MenuButton"
        data-action="click->search#showModal">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <line x1="2.66797" y1="23" x2="29.3346" y2="23" stroke="#171A1C" stroke-width="2"/>
          <line x1="2.66797" y1="15" x2="29.3346" y2="15" stroke="#171A1C" stroke-width="2"/>
          <line x1="2.66797" y1="7" x2="29.3346" y2="7" stroke="#171A1C" stroke-width="2"/>
        </svg>
      </div>
    </div>
    <%# Action Buttons %>
    <% if current_user%>
      <div class="W_UserOptions">
        <div data-controller="dropdown" class="M_CreateDropDown">
          <div class="A_Button medium" data-action="click->dropdown#toggle">
            <p class="caption"> Создать</p>
          </div>
          <div data-dropdown-target="content">
            <%= link_to "Работу", new_post_path, class: "A_DropdownItem" %>
            <%= link_to "Коллекцию", new_collection_path, class: "A_DropdownItem" %>
          </div>
        </div>
        <%= link_to profile_path(current_user.profile),class:"M_UserHead" do %>
          <%= image_tag(current_user.profile.avatar_url, class: "A_Avatar") if current_user.profile&.avatar_url.present? %>
        <% end %>
      </div>
    <% else %>
      <div class="W_UserOptions">
        <%= link_to "Войти", new_user_session_path,class: "A_ButtonSecondary" %>
      </div>
    <% end %>
  </div>
</header>
